.form-input{
    width: 70%;
    margin-left: 10%;
    margin-top: 12px;
}
.form-input p{
    color: white;    
}
input{
    width: 70%;
    margin-left: 10%;
    margin-top: 12px;
    border-bottom: 2px solid white !important;
}



